/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--base-font), Arial;
  font-variation-settings: 'wght' var(--base-weight), 'slnt' 0;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: #d3d3d3;
  background-image: var(--gradient-horizontal), var(--gradient-vertical), var(--gradient-color);
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: multiply;
}

.width-block {
  width: clamp(23.438rem, 16.285rem + 30.52vw, 43.75rem);
}

.header {
  background-color: #fff;
  font-family: var(--accent-font), Arial;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border: var(--accent-color) solid 2px;
  text-align: center;
}

.title {
  font-size: clamp(3.063rem, 2.71rem + 1.5vw, 4.063rem);
  text-transform: uppercase;
  padding-top: clamp(7.5rem, 7.324rem + 0.75vw, 8rem);
}

.title-text {
  font-size: clamp(0.875rem, 0.677rem + 0.85vw, 1.438rem);
  margin-top: 20px;
  text-transform: uppercase;
  padding-bottom: clamp(7.5rem, 7.324rem + 0.75vw, 8rem);
}

.main {
  font-size: 18px;
}

.list-card {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  margin: auto;
}

article {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #fff;
}

 .article-title {
  border: var(--accent-color) solid 2px;
  font-variation-settings: 'wght' var(--title-weight), 'slnt' 0;
  line-height: 120%;
  font-size: 18px;
  padding: 4px 10px;
}

.article-images-block {
  position: relative;
  display: inline-block;
  border-right: var(--accent-color) solid 2px;
  border-left: var(--accent-color) solid 2px;
  height: clamp(23.438rem, 16.285rem + 30.52vw, 43.75rem);
}

.images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.images-lable {
  position: absolute;
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  top: 24px;
  right: 25px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: 1px 1px 1px var(--border-text-color), -1px -1px 1px var(--border-text-color);
}

@supports ((text-stroke: 1px var(--border-text-color)) or (-webkit-text-stroke: 1px var(--border-text-color))) {
  .images-lable {
    -webkit-text-stroke: 1px var(--border-text-color);
  }
}

.article-paragraph {
  line-height: 21px;
  border: var(--accent-color) solid 2px;
  padding-left: 26px;
  padding-right: 26px;
}

.paragraph {
  padding-top: 23px;
}

.card__like-button {
  margin: 25px 0px;
  min-width: 130px;
  min-height: 38px;
}

.article-button-block {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.like-icon {
  inline-size: auto;
  block-size: auto;
  background-color: #fff;
  outline: none;
  border: none;
}

.button {
  position: relative;
  transition: box-shadow 0.3s ease;
  background-color: #fff;
  cursor: pointer;
  border: var(--accent-color) solid 2px;
  font-family: var(--accent-font);
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s ease-in-out;
  z-index: 1;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0;
  transition: box-shadow 0.3s ease;
}

.button:focus {
  outline: none;
}

.button__text {
  position: relative;
  z-index: 2;
  color: #fff;
  mix-blend-mode: difference;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 37px;
  inline-size: 40px;
  margin-top: 26px;
  padding: 0;
  border: 2px solid transparent;
  outline: none;
  transition: border 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: border 0.3s ease;
  outline: none;
}

.card__icon-button:focus {
  outline: none;
}

.block-button-save {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

.button-save {
  margin: 0 auto;
  /*border: var(--accent-color) solid 2px;*/
  flex-direction: column;
  padding: 16px 18px;
  gap: 6px;
  margin-bottom: 20px;
}

.floppy-svg {
  position: relative;
  inline-size: 28px;
  z-index: 2;
  color: #fff;
  mix-blend-mode: difference;
}

@media (width >= 376px) {
  .button-save {
    flex-direction: row;
}

.floppy-svg {
  inline-size: 21px;
}
}

.dialog[open] {
  display: flex;
}

.dialog {
  width: clamp(21.313rem, 21.048rem + 1.13vw, 22.063rem);
  font-family: var(--accent-font);
  font-size: 14px;
  flex-direction: column;
  gap: 30px;
  padding: 30px 40px;
  text-transform: uppercase;
}

.dialog-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  line-height: 150%;
}

.dialog-floppy-svg {
  inline-size: 39px;
  block-size: 39px;
  flex-shrink: 0;
}

.dialog-button {
  padding: 10px;
  text-transform: uppercase;
}

dialog::backdrop {
 background: rgba(0, 0, 0, 0.75);
}

.contour {
  transition: fill 0.1s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.sparks {
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in forwards 0.3s;
}

.filter-brightness {
  filter: brightness(80%);;
}

.filter-contrast {
  filter: contrast(70%);
}

.filter-blur {
  filter: blur(2px);
}

.filter-grayscale {
  filter: grayscale(0.4);
}

.filter-saturate {
  filter: saturate(140%);
}

.filter-hue-rotate {
  filter: hue-rotate(90deg);
}

.filter-sepia-contrast-invert {
  filter: sepia(70%) contrast(110%) invert(0.2);
}


