/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --base-font: 'Inter-Variable';
    --accent-font: 'PressStart2P-Regular';
    --border-text-color: rgba(255, 255, 255, 1);
    --base-weight: 410;
    --title-weight: 715;
    --accent-color: rgba(0, 0, 0, 1);
    --animation-fill-color: red;
    --contour-color: rgba(0, 0, 0, 1);
    --gradient-horizontal: repeating-linear-gradient(90deg, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px);
    --gradient-vertical: repeating-linear-gradient(0deg, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px);
    --gradient-color: linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
}